.header {
  background-color: #8c52ff;
  width: 100%;
  padding: 15px 0;
  color: white;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 15px; /* Ajustado para caber tudo com os divisores */
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
}

.divider {
  width: 2px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.actionItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  text-decoration: none;
}

.actionText {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.actionText span {
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
}

.logoImage {
  height: 45px;
}