.productCard {
  border: 0.25rem solid var(--primary);
  border-radius: 2rem; /* Reduzido de 5rem */
  padding: 1.5rem;
  text-align: center;
  background-color: var(--gray-100);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productImage {
  width: 100%;
  max-width: 250px; /* Reduzido para caber melhor */
  height: auto;
  margin: 0 auto;
}

.productTitle {
  font-size: 1.8rem; /* Reduzido de 3rem */
  font-weight: bold;
  margin: 0.5rem 0;
}

.productDescription {
  font-size: 1.1rem; /* Reduzido de 2rem */
  color: var(--primary-dark);
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.productButton {
  background-color: var(--primary);
  color: var(--gray-900);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
}