.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  padding: 0;
}

.themeText {
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
}